.App, .Loader, .Table, .Error {
  text-align: center;
}

.App-header, .Loader-header, .Table-header, .Error-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body, .Loader-body, .Table-body, .Error-body {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Body {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer, .Loader-footer, .Table-footer, .Error-footer {
  padding-bottom: 50px;
  background-color: #282c34;
  min-height: 20vh;
  display: block;
  position: sticky;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Loader:empty {
  position: sticky;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 0.1em solid rgba(56, 56, 56, 0.2);
  border-left: 0.1em solid #dadada;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
